<!DOCTYPE html>
<html lang="en">
<head>
    <title>Airline Ticket Management System</title>

    <div th:replace="fragments/header"></div>


</head>
<body>


<div th:replace="fragments/navbar"></div>
<!--<div th:replace="fragments/booking-banner"></div>-->


    <div class="container loginForm">

        <center>
            <h4><i class="fa-solid fa-arrow-right-to-bracket"></i>
                LOGIN</h4>
            <hr>
        </center>
        <form th:action="@{/login}" method="post" id="loginForm">
            <div th:if="${param.error}" class="alert alert-warning">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>




            <div class="mb-3">


                <label  class="form-label">Email</label>
                <input type="email" name="username" class="form-control"  required>

            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control"  required>

            </div>

            <center>
                <button type="submit" class="btn btn-primary btn-lg">login</button>


<hr>
            <p>New user? Click here to create an account<br>
            <a th:href="@{/register}">create an account</a>
            </p>
            </center>
        </form>

    </div>



</body>
</html>