<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<div th:replace="fragments/navbar"></div>
<!--<div th:replace="fragments/booking-banner"></div>-->


<div class="container loginForm">

  <center>
    <h4><i class="fa-solid fa-unlock-keyhole"></i>
      Reset Password</h4>
    <hr>
  </center>

    <div id="successMessage"  class="alert alert-success" style="display: none;">
        Password Has Been Reset.
      <hr>
      <p>
        <a th:href="@{/login}">Take me to login screen</a>
      </p>
    </div>
    <div id="errorMessage"  class="alert alert-danger" style="display: none;">

    </div>
  <form th:action="@{/reset-password/api}" method="post" id="resetForm">


    <div class="mb-3">


      <label  class="form-label">Email</label>
      <input type="email" name="email" class="form-control"  required>

    </div>

    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" name="newPassword" class="form-control"  required>

    </div>

    <center>
      <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>


      <hr>
      <p>
        <a th:href="@{/login}">Take me to login screen</a>
      </p>
    </center>
  </form>

</div>



<script>
    $(document).ready(function () {
        $("#resetForm").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission behavior

            // Serialize form data
            var formData = $(this).serialize();

            // Make an AJAX request to submit the form data
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function () {

                     $('#successMessage').show();

                    $("#resetForm").hide();
                },
                error: function () {

                    $("#errorMessage").show().text("Something went wrong. Please try again.");
                }
            });
        });
    });
</script>



</body>
</html>