

body{
width:100%;
}

#register_row{
    margin-top:50px;
}

.loginForm{
    margin-top:50px;
    width: fit-content;
    border: 1px solid silver;
    padding: 15px;
    border-radius:10px;
    background-color:white;
    color:black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.loginForm input{

    width: 350px;
    transition: transform 0.3s ease;


}

/* Scale up the input when it's focused */
.loginForm input:focus {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}



.registerForm{

    width: fit-content;
    border: 1px solid silver;
    padding: 25px;
    border-radius:10px;
    background-color:white;
    color:black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.registerForm input{

    width: 450px;
    transition: transform 0.3s ease;


}

/* Scale up the input when it's focused */
.registerForm input:focus {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}


#search-form{

    background:url('/assets/img/airlines2.jpg');
 background-size: cover; /* Adjust to fully cover the content */
     height: 300px;
}

#search-form input{
    color:gray;

}




#flightCards {
  /* Set initial styles for the flightCards element */
  position: relative;
  /* Add any other styles you need for flightCards */

  /* Transition property for smooth scaling effect */
  transition: transform 0.3s ease-in-out,background 0.5s ease-in-out;

}

#flightCards:hover {
  /* Apply styles to flightCardBody when flightCards is hovered */
  transform: scale(1.05); /* You can adjust the scaling factor as needed */
  box-shadow:0px 0px 10px (0,0,0,0.5);
  cursor:pointer;
  background:#ffc107;

}



#registrationForm input{

    border:none;
    border-bottom: solid black;
    background:rgba(0,0,0,0.1);
    color:black;
    font-family:times new roman;

}

#loginForm input{

    border:none;
    border-bottom: solid black;
    background:rgba(0,0,0,0.1);
    color:black;
    font-family:times new roman;

}



#payButton {
    width:100%;
}


#myBookingCard{
    margin-top: 20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:20px;
    border: 1px solid gray;
    background: rgba(255, 252, 84,0.1);
    color:gray;
    border-radius:10px;

}


#myTicketCard{
 background:white;
 padding:20px;

 border:1px dotted silver;
 box-shadow:0px 0px 10px silver;
margin-bottom:10px;


}

#eticket-head{
    padding:10px;

}



.myStampImage{

transform: rotate(10deg);
height:200px;
margin-top:-1450px;
opacity: 0.7;

}

#navbar-mytitle{

    text-shadow:0px 0px 10px gray;

}







