#ticket-check-form{

    padding-bottom: 55px;


    color:white;
    background:url('/assets/img/airlines3.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    font-weight:bold;
    text-shadow: 0px 0px 10px black;

}