<!DOCTYPE html>
<html lang="en">
<head>
  <title>OPERATIONS || Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
  <div class="row flex-nowrap">
    <div th:replace="fragments/operator-navbar"></div>
    <div class="col py-3">


      <div class="container">
        <br>
        <h4>
          <i class="fs-4 bi-pentagon-half"></i>
          Add Airport</h4>
        <hr>
        <div>
          <form id="airportAddForm" method="post">
            <div class="row">
              <div class="col mb-3">
                <label  class="form-label">Airport Code</label>
                <input type="text" name="airport_code" class="form-control" required >

              </div>
              <div class="col mb-3">
                <label  class="form-label">City</label>
                <input type="text" name="city" class="form-control" required >

              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label  class="form-label">Airport Name</label>
                <input type="text" name="airport_name"  class="form-control" required >

              </div>

            </div>

            <div class="row">
              <div class="col mb-3">
                <button type="button" id="submitAirport" class="btn btn-primary">Add Airport</button>
              </div>

            </div>



          </form>

          <script>
    $(document).ready(function () {
        $("#submitAirport").click(function () {
            // Serialize form data
            var formData = $("#airportAddForm").serialize();

            // Send AJAX request
            $.ajax({
                type: "POST",
                url: "/staff/airports",
                data: formData,
                success: function (response) {
                    console.log(response);

                },
                error: function (error) {
                    console.error(error);
                    // Handle error, you may show an error message
                }
            });
        });
    });
</script>



        </div>






        <br>
        <h4>
          <i class="fs-4 bi-card-list"></i>
          All Airports</h4>
        <hr>
        <div>
          <table class="table">

            <thead>
            <tr>
              <th>Airport Code</th>
              <th>Airport Name</th>
              <th>City</th>
            </tr>
            </thead>

            <tbody>
            <tr class="table-dark" th:each="airport:${airports}">

              <td th:text="${airport.airport_code}"></td>
              <td th:text="${airport.airport_name}"></td>
              <td th:text="${airport.city}"></td>

            </tr>

            </tbody>


          </table>
        </div>
      </div>


    </div>
  </div>
</div>

</body>
</html>