<!DOCTYPE html>
<html lang="en">
<head>
  <title>OPERATIONS || Airline Ticket Management System</title>
  <div th:replace="fragments/header"></div>


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
  <div class="row flex-nowrap">
    <div th:replace="fragments/operator-navbar"></div>
    <div class="col offset-3 py-3">


      <div class="container">
        <br>
        <h4>
          <i class="fs-4 bi-pentagon-half"></i>
          Add Flight</h4>
        <hr>
        <div>
          <form id="flightAddForm" method="post">
            <div class="row">
              <div class="col mb-3">
                <label  class="form-label">Flight No.</label>
                <input type="text" name="flight_no" class="form-control" required >

              </div>
              <div class="col mb-3">
                <label  class="form-label">Operator</label>
                <input type="text" name="operator" class="form-control" required >

              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label  class="form-label">Economy Seats</label>
                <input type="number" min="0" name="economy_seats"  class="form-control" required >

              </div>
              <div class="col mb-3">
                <label  class="form-label">First Class Seats</label>
                <input type="number" min="0" name="first_seats"  class="form-control" required >

              </div>
              <div class="col mb-3">
                <label  class="form-label">Business Class Seats</label>
                <input type="number" min="0" name="business_seats"  class="form-control" required >

              </div>

            </div>

            <div class="row">
              <div class="col mb-3">
                <button type="button" id="submitFlight" class="btn btn-primary">Add Flight</button>
              </div>

            </div>



          </form>

          <script>
    $(document).ready(function () {
        $("#submitFlight").click(function () {
            // Serialize form data
            var formData = $("#flightAddForm").serialize();

            // Send AJAX request
            $.ajax({
                type: "POST",
                url: "/staff/flights",
                data: formData,
                success: function (response) {
                    console.log(response);

                },
                error: function (error) {
                    console.error(error);
                    // Handle error, you may show an error message
                }
            });
        });
    });
</script>



        </div>






        <br>
        <h4>
          <i class="fs-4 bi-card-list"></i>
          All Flights</h4>
        <hr>
        <div>
          <table class="table">

            <thead>
            <tr>
              <th>Flight No.</th>
              <th>Operator</th>
              <th>Economy Class Seats</th>
              <th>First Class Seats</th>
              <th>Business Class Seats</th>
            </tr>
            </thead>

            <tbody>
                <tr class="table-dark" th:each="flight:${flights}">
                  <td th:text="${flight.flight_no}"></td>
                  <td th:text="${flight.operator}"></td>
                  <td th:text="${flight.economy_seats}"></td>
                  <td th:text="${flight.first_seats}"></td>
                  <td th:text="${flight.business_seats}"></td>

                </tr>

            </tbody>


          </table>
        </div>
      </div>


    </div>
  </div>
</div>

</body>
</html>