<!DOCTYPE html>
<html lang="en">
<head>
  <title>OPERATIONS || Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>

  <link rel="stylesheet" th:href="@{/assets/css/trips.css}">


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
  <div class="row flex-nowrap">
    <div th:replace="fragments/operator-navbar"></div>





    <div class="col py-3">


      <div class="container">



        <br>

        <h4>
          <i class="fa-solid fa-globe"></i>
          Current Flight Status Information</h4>

        <button id="createTripBtn" class="btn btn-primary">
          Create a Trip</button>

        <div id="successMessage"  class="alert alert-success" style="display: none;">
          <center>
            Trip Created Successfully
          </center>
        </div>
        <div id="errorMessage"   class="alert alert-warning" style="display: none; color: red;">
          Something went wrong. Please check the provided information.
        </div>
        <hr>


        <div class="container overlay" id="overlay">

          <h4>
            <i class="fa-solid fa-plane-departure"></i>
            New Trip Details</h4>
          <hr>
          <form method="post" id="createTripForm" th:action="@{/staff/trips}">

            <div class="row">
              <div class="col">
                <label>Flight No.</label>
                  <select name="flight_id" class="form-select">
                    <option value="" selected disabled>Select an aircraft</option>
                    <option th:each="flight:${flights}" th:value="${flight.id}" th:text="${flight.flight_no}"></option>

                  </select>
              </div>
              <div class="col">
                <label>Departure Airport</label>
                <select name="from" class="form-select">
                  <option value="" selected disabled>Select an airport</option>
                  <option th:each="airport:${airports}" th:value="${airport.id}" th:text="${airport.airport_code}+'-'+${airport.airport_name}"></option>

                </select>
              </div>
              <div class="col">
                <label>Arrival Airport</label>
                <select name="to" class="form-select">
                  <option value="" selected disabled>Select an airport</option>
                  <option th:each="airport:${airports}" th:value="${airport.id}" th:text="${airport.airport_code}+'-'+${airport.airport_name}"></option>

                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Departure Date</label>
                <input name="date" class="form-control" type="date" placeholder="">
              </div>
              <div class="col">
                <label>Departure Time</label>
                <input name="time" class="form-control" type="time" placeholder="">
              </div>
            </div>
            <br><h5>
            <i class="fa-solid fa-money-check-dollar"></i>
            Fare Information</h5>
            <hr>
            <div class="row">
              <div class="col">
                <label>Economy Class Price</label>
                <input name="economy_price" class="form-control" min="10" type="number" placeholder="">
              </div>
              <div class="col">
                <label>First Class Price</label>
                <input name="first_price" class="form-control" min="10" type="number" placeholder="">
              </div>
              <div class="col">
                <label>Business Class Price</label>
                <input name="business_price" class="form-control" min="10" type="number" placeholder="">
              </div>
            </div>
<br>
            <div class="row">
              <h6>Flight Status</h6>
              <select name="trip_status" class="form-select">
                <option value="INACTIVE">INACTIVE</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="CANCELLED">CANCELLED</option>

              </select>
            </div>


            <br>
            <center>
              <button type="submit" class="btn btn-warning btn-lg">Create Trip</button>
            </center>

          </form>
<br>
         <center>
           <button id="closeBtn" class="btn btn-outline-danger">Close</button>
         </center>


        </div>

        <script>
          document.getElementById('createTripBtn').addEventListener('click', function() {
        document.getElementById('overlay').style.display = 'block';
        });

        document.getElementById('closeBtn').addEventListener('click', function() {
        // Clear the form fields
        $("#createTripForm").show();
        document.getElementById('overlay').style.display = 'none';
        });




<!--        form submission code-->

$(document).ready(function () {
        $("#createTripForm").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission behavior

            // Serialize form data
            var formData = $(this).serialize();

            // Make an AJAX request to submit the form data
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function () {
                    // Handle the success response here
                    // For example, you can show a success message or toggle a div
                    $("#successMessage").show();
                    $("#errorMessage").hide(); // Hide the error message if it was previously shown

                    // Clear the form fields
                    $("#createTripForm").hide();
                },
                error: function () {
                    // Handle the error response here
                    // For example, you can show an error message
                    $("#successMessage").hide(); // Hide the success message if it was previously shown
                    $("#errorMessage").show().text("Something went wrong. Please try again.");
                }
            });
        });
    });
    </script>








        <div>
          <table class="table">

            <thead>
            <tr>
              <th>Flight No</th>
              <th>Operator</th>
              <th>Departure A/P</th>
              <th>Arrival A/P</th>
              <th>Date</th>
              <th>Time</th>
              <th>Economy</th>
              <th>First</th>
              <th>Business</th>
              <th><b>Status</b></th>
            </tr>
            </thead>

            <tbody>
            <tr class="table-dark" th:each="trip:${trips}">
              <td th:text="${trip.flightDetails.flight_no}"></td>
              <td th:text="${trip.flightDetails.operator}"></td>
              <td th:text="${trip.from.airport_code}"></td>
              <td th:text="${trip.to.airport_code}"></td>
              <td th:text="${#dates.format(trip.date, 'MMM dd yyyy')}"></td>
              <td th:text="${#dates.format(trip.time, 'h:mm a')}"></td>
              <td >$<span th:text="${trip.economy_price}"></span></td>
              <td >$<span th:text="${trip.first_price}"></span></td>
              <td >$<span th:text="${trip.business_price}"></span></td>
              <td th:text="${trip.trip_status}"></td>



            </tr>

            </tbody>


          </table>
        </div>
      </div>


    </div>
  </div>
</div>

</body>
</html>