<!DOCTYPE html>
<html lang="en">
<head>
    <title>Airline Ticket Management System</title>

    <div th:replace="fragments/header"></div>


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Airline Ticket Management System</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">My Info</span> </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-clock-history"></i> <span class="ms-1 d-none d-sm-inline">Booking History</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-shield-check"></i> <span class="ms-1 d-none d-sm-inline">Web Check-In</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-file-post-fill"></i> <span class="ms-1 d-none d-sm-inline">My Tickets</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-credit-card"></i> <span class="ms-1 d-none d-sm-inline">Payment Information</span> </a>
                    </li>



                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-headset"></i> <span class="ms-1 d-none d-sm-inline">Support</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">

                        <span class="d-none d-sm-inline mx-1" th:text="${userDetails.first_name}"></span>

                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">


                        <li><a class="dropdown-item" href="#">Chat with Us</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">


            <div class="container">
                <br>
                <h4>
                    <i class="fs-4 bi-person-circle"></i>
                    My Information</h4>
                <hr>
                <div>
                    <form>
                        <div class="row">
                            <div class="col mb-3">
                                <label  class="form-label">First Name</label>
                                <input type="text" name="first_name" th:value="${userDetails.first_name}"  class="form-control" required disabled>

                            </div>
                            <div class="col mb-3">
                                <label  class="form-label">Last Name</label>
                                <input type="text" name="last_name" th:value="${userDetails.last_name}"  class="form-control" required disabled>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label  class="form-label">Email</label>
                                <input type="text" name="email" th:value="${userDetails.email}"  class="form-control" required disabled>

                            </div>

                        </div>
                    </form>
                </div>






                    <br>
                    <h4>
                        <i class="fs-4 bi-shield-check"></i>
                        Security and Passwords</h4>
                    <hr>
                <div>
                    <form>
                        <div class="row">
                            <div class="col mb-3">

                                <div class="alert alert-warning">For <b>Security Reasons</b> we do not store your raw passswords.
                                please reset your password if you don't remember.</div>

                                <label  class="form-label">Old Password</label>
                                <input type="password" name="password" th:value="oldpasswordoldpasswordoldpasswordoldpassword"  class="form-control" required disabled>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label  class="form-label">New Password</label>
                                <input type="text" name="password"   class="form-control" required>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label  class="form-label">Confirm New Password</label>
                                <input type="text" name="password"   class="form-control" required>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <button type="submit" class="btn btn-warning">Reset Password</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>