<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
  <div class="row flex-nowrap">

    <div th:replace="fragments/user-navbar">

    </div>

    <div class="col py-3">


      <div class="container">
        <br>
        <h4>
          <i class="fa-solid fa-calendar-check"></i>
          Web Check-in</h4>
        <hr>



<!--Web Checkin Content begin-->
        <div class="container">


          <div class="container">

            <form class="form">


                <div class="row">
                  <input class="form-control" type="text" placeholder="PNR Number">
                </div><br>
                <div class="row">
                  <input class="form-control" type="text" placeholder="Last Name">

                </div><br>
                <div class="row">
                  <button class="btn btn-success btn-lg btn-block">Check In</button>
                </div>



            </form>

          </div>


        </div>

<!--Web Checkin content end-->

      </div>


    </div>


  </div>
</div>

</body>
</html>