<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<!--<div th:replace="fragments/navbar"></div>-->
<!--&lt;!&ndash;<div th:replace="fragments/booking-banner"></div>&ndash;&gt;-->


<div class="container-fluid">
  <div class="row flex-nowrap">

    <div th:replace="fragments/user-navbar">

    </div>

    <div class="col py-3">


      <div class="container">
        <br>
        <h4>
          <i class="fa-solid fa-calendar-check"></i>
          Web Check-in</h4>
        <hr>



<!--Web Checkin Content begin-->
        <div class="container">

            <div class="container">
                <form class="form" id="checkin-form" >


                    <input class="form-control" id="pnr_number" name="pnr_number" type="text" placeholder="PNR Number..">
<br>
                    <button type="submit" class="btn btn-success">CHECK IN</button>
                </form>



                <script>
    $(document).ready(function() {
        // Attach a submit event listener to the form
        $('#checkin-form').submit(function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Serialize the form data
            var formData = $(this).serialize();

            // Make the AJAX request
            $.ajax({
                url: "/profile/checkin",
                type: "POST",
                data: formData, // Send form data
                success: function(response) {
                    console.log("Check-in successful");
                    // You can perform further actions here upon successful check-in
                },
                error: function(xhr, status, error) {
                    console.error("Error occurred while checking in:", error);
                    // Handle errors if any
                }
            });
        });
    });
</script>
            </div>


        </div>

<!--Web Checkin content end-->

      </div>


    </div>


  </div>
</div>

</body>
</html>