<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-fixed">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span>

                <img th:src="@{/assets/img/logos/logo-portal.png}" style="height:3em;">

         <br>
        <center><small>(ADMINISTRATION)</small></center>


    </span>
    </a>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a th:href="@{/}" class="nav-link align-middle px-0">
          <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/staff-management}" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline">STAFF MANAGEMENT</span> </a>
      </li>

      <li>
        <a th:href="@{/admin}" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-book"></i> <span class="ms-1 d-none d-sm-inline">ALL BOOKINGS</span> </a>
      </li>


      <!--      <li>-->
      <!--        <a th:href="@{#}" class="nav-link px-0 align-middle">-->
      <!--          <i class="fa-solid fa-people-group"></i>-->
      <!--          <span class="ms-1 d-none d-sm-inline">Crew Management</span> </a>-->
      <!--      </li>-->

      <!--      <li>-->
      <!--        <a href="#" class="nav-link px-0 align-middle">-->
      <!--          <i class="fa-solid fa-headset"></i> <span class="ms-1 d-none d-sm-inline">Support</span> </a>-->
      <!--      </li>-->
    </ul>
    <hr>
    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">

        <span class="d-none d-sm-inline mx-1" th:text="${userDetails.first_name}"></span>

      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">



        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>