<div>
    <div style="position: relative;text-align: center">
        <img th:src="@{/assets/img/airlines2.jpg}" alt="Background Image" style="position: absolute;z-index: 100;  top: 0; left: 0; width: 100%; height: auto; z-index: 0;">

        <div style="z-index: 1000; color: white;">
            <h2 style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;z-index: 1000; border-radius: 10px;">Booking</h2>
            <!-- Your form elements can go here -->
        </div>
    </div>


</div>