<link rel="stylesheet" th:href="@{/assets/css/ticket-check-form.css}">

<div id="ticket-check-form">

    <form id="ticketSearchForm" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <label  class="form-label">From</label>
                    <select name="departure" class="form-select" required>
                        <option value="" selected disabled>Select an airport</option>
                        <option th:each="airport:${airports}" th:value="${airport.id}" th:text="${airport.airport_code}+'-'+${airport.airport_name}"></option>

                    </select>

                </div>
                <div class="col-sm">
                    <label  class="form-label">Destination</label>
                    <select name="arrival" class="form-select" required>
                        <option value="" selected disabled>Select an airport</option>
                        <option th:each="airport:${airports}" th:value="${airport.id}" th:text="${airport.airport_code}+'-'+${airport.airport_name}"></option>

                    </select>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label  class="form-label">Travel Date</label>
                    <input name="travel_date" type="date" class="form-control" placeholder="When">
                </div>
                <div class="col">
                    <label  class="form-label">Travel Class</label>
                    <select name="seat_class" class="form-control">
                        <option>
                            Economy
                        </option>
                        <option>
                            First Class
                        </option>
                        <option>
                            Business Class
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label  class="form-label">Passengers</label>
                    <select name="seat_count" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>

                </div>

            </div>
            <br>
            <center>
                <button type="submit" class="btn btn-warning btn-lg">
                    <span><i class="fa-solid fa-magnifying-glass-location"></i></span>
                    Fetch Flights</button>
            </center>
        </div>
    </form>









</div>




