<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<div th:replace="fragments/navbar"></div>
<!--<div th:replace="fragments/booking-banner"></div>-->


<form id="reservationBasicForm" th:action="@{/booking/flight/reservation}">

  <div class="container" id="tripHeader">
<br>
    <p style="color:green">ONE WAY</p>

    <p style="color:darkblue; font-size:2em;">
      <span th:text="${selected_trip.from.city}"></span>
      to
      <span th:text="${selected_trip.to.city}"></span>
      <span style="font-size:20px;" th:text="${#dates.format(selected_trip.date, 'MMM dd')}"></span>
      <span style="font-size:20px;">,</span>
      <span style="font-size:20px;" th:text="${#dates.format(selected_trip.time, 'h:mm a')}"></span>
    </p>


  </div>


<div class="container">
  <hr>


    <div class="row">
      <div class="col">

        <input type="hidden" th:value="${selected_trip.id}" name="selected_trip">
        <label>Passengers</label>
        <select class="form-control" name="passenger_count">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
      <div class="col">
        <label>Class</label>
        <select class="form-control" name="seat_class">
          <option value="" disabled selected>Select a Class</option>
          <option value="ECONOMY">ECONOMY CLASS</option>
          <option value="FIRST_CLASS">FIRST CLASS</option>
          <option value="BUSINESS">BUSINESS CLASS</option>

        </select>
      </div>


      <div class="col">
        <label>Passport Issuing Country</label>
        <input class="form-control" name="passport_country" type="text">
      </div>
      <div class="col">
        <label>Passport Number</label>
        <input class="form-control" name="passport_number" type="text">
      </div>

    </div>
    <br>
    <p style="color:darkblue">PRIMARY PASSENGER INFORMATION</p>
    <div class="row">

      <div class="col">
        <label>Full Name <sup>* As shown on passport</sup></label>
        <input class="form-control" name="primary_passenger_name" type="text">
      </div>


      <div class="col">
        <label>Age</label>
        <input class="form-control" name="primary_passenger_age" min="16" type="number">
      </div>
      <div class="col">
        <label>Contact Number</label>
        <input class="form-control" name="primary_passenger_number" type="text">
      </div>



    </div>




  <div class="row">

    <div class="col">
      <label>Email</label>
      <input class="form-control" name="primary_passenger_email" type="email">
    </div>


    <div class="col">

    </div>
    <div class="col">

    </div>



  </div>



</div>




<div class="container">
<br>
  <p style="color:darkblue;font-size:2em;">Use caution when packing</p>
  <p>Some everyday products, like electronic cigarettes and aerosol spray starch, can be dangerous when
    transported on the aircraft in carry-on and/or checked baggage. Changes in temperature or pressure can
    cause some items to leak, generate toxic fumes or start a fire. Carriage of prohibited items may result in
    fines or in certain cases imprisonment.
    Please ensure there are no forbidden hazardous materials in your baggage.</p>



  <br>
  <button type="submit" id="submitReservation" class="btn btn-warning btn-lg">
    <span><i class="fa-solid fa-lock"></i></span>
    Go to Checkout</button>

<!--  <a th:href="@{/booking/flight/payment}" class="btn btn-warning btn-lg">-->
<!--    <span><i class="fa-solid fa-lock"></i></span>-->
<!--    Go to Checkout</a>-->
</div>




  <div id="errorMessage"   class="alert alert-warning" style="display: none; color: red;">
    Something went wrong. Please try again.
  </div>
</form>



<script>
    $(document).ready(function () {
        $("#reservationBasicForm").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission behavior

            // Serialize form data
            var formData = $(this).serialize();

            // Make an AJAX request to submit the form data
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function (reservationId) {
                    var selectedTripId = $("[name='selected_trip']").val();
                    console.log("Reservation Created!!!"+reservationId);
                    setTimeout(function() {
                        // Redirect to the payment page with selected_trip.id upon successful form submission
                        window.location.href = `/booking/flight/${selectedTripId}/${reservationId}/payment`;
                    }, 2000);
                },
                error: function () {

                    $("#errorMessage").show().text("Something went wrong. Please try again.");
                }
            });
        });
    });
</script>








</body>
</html>