<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airline Ticket Management System</title>

  <div th:replace="fragments/header"></div>


</head>
<body>


<div th:replace="fragments/navbar"></div>
<!--<div th:replace="fragments/booking-banner"></div>-->




  <div class="container" id="tripHeader">
    <br>
    <p style="color:green">
      <span><i class="fa-solid fa-credit-card"></i></span>
      PAYMENT GATEWAY</p>

    <p style="color:darkblue; font-size:2em;">
      Total: <span th:text="${total_amount}"></span>$

    </p>

    <hr>
  </div>



<form method="post" id="paymentForm"
      th:action="@{/booking/flight/{selectedTripId}/{reservationId}/payment(selectedTripId=${selected_trip}, reservationId=${reservation_id})}">


<div class="container">
  <div class="row ">
    <div class="col">

        <div class="container">


          <div class="row">

            <div class="col">
              <input th:value="${total_amount}" name="total_amount" type="hidden">

              <input class="form-control" name="card_number" type="text" placeholder="CARD NUMBER">
            </div>
          </div><br>
          <div class="row">

            <div class="col">

              <input class="form-control" name="name_on_card" placeholder="NAME ON CARD" type="text">
            </div>
            <div class="col">
              <input class="form-control" name="expiry_date" placeholder="EXPIRY DATE" type="text">
            </div>

          </div><br>
          <div class="row">

            <div class="col col-sm-4">
              <input class="form-control" name="cvv" placeholder="CVV" type="text">
            </div>


          </div>
          <br>
          <div class="row col-md-6">

            <div class="col">
              <i class="fa-brands fa-cc-mastercard" style="font-size:2em;"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-cc-visa" style="font-size:2em;"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-cc-amex" style="font-size:2em;"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-cc-discover" style="font-size:2em;"></i>
            </div>
          </div>
        </div>


    </div>


    <!--  Billing Address-->
    <div class="col">

          <div class="row">
            <input type="text" class="form-control" name="street_address" placeholder="STREET ADDRESS">
          </div><br>
          <div class="row">
            <input type="text" class="form-control" name="address_2" placeholder="Apt, Suite No">
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="billing_city" placeholder="City">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="billing_country" placeholder="Country">
            </div>
          </div><br>
          <div class="row">
            <input type="text" class="form-control" name="billing_zipcode" placeholder="ZipCode">
          </div><br>

    </div>
  </div>


</div>


  <div class="container">
    <br>

    <p>I agree to the Terms & Conditions.</p>



    <br>
    <!--  <button type="submit" class="btn btn-warning btn-lg">-->
    <!--    <span><i class="fa-solid fa-lock"></i></span>-->
    <!--    Go to Checkout</button>-->

    <button type="submit" th:href="@{#}" class="btn btn-warning btn-lg" id="payButton">
      <span><i class="fa-regular fa-circle-check"></i></span>
      Pay Securely</button>
  </div>
</form>




<script>
    $(document).ready(function () {
        $("#paymentForm").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission behavior

            // Serialize form data
            var formData = $(this).serialize();

            // Make an AJAX request to submit the form data
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function () {

                    console.log("Payment Successful!!!");

                },
                error: function () {

                    $("#errorMessage").show().text("Something went wrong. Please try again.");
                }
            });
        });
    });
</script>



</body>
</html>