<!DOCTYPE html>
<html lang="en">
<head>
    <title>Airline Ticket Management System</title>
    <div th:replace="fragments/header"></div>

</head>
<body>



    <div th:replace="fragments/navbar"></div>





    <div th:replace="fragments/ticket-check-form"></div>


    <br>

<div class="container">
    <h5>Available Flights</h5>
    <center>
        <h3 id="loadingMessage" style="display: none; margin:10px;">Fetching Flights...</h3>

    </center>
    <div id="flightCards" class="card" style="margin:15px;">

    </div>

</div>





    <script>
$(document).ready(function() {
    $('#ticketSearchForm').submit(function(event) {
        // Prevent default form submission
        event.preventDefault();

        $('#loadingMessage').text("Fetching Flights...");
        // Show loading message
        $('#loadingMessage').show();
        console.log("loading");

        // Serialize form data
        var formData = $(this).serialize();

        // Construct URL with form data
        var url = '/search/flights?' + formData;

        // Make GET request
        $.ajax({
            type: 'GET',
            url: url,
            success: function(results) {

                // Hide loading message after 2 seconds
                setTimeout(function() {

                    $('#loadingMessage').hide();
                    $('#flightCards').empty();



                     // Loop through each flight in the results
                $.each(results, function(index, result) {
                    // Construct HTML for flight card
                    var flightCardHtml = `
                        <div id="flightSepCard" class="card" style="margin:10px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-center">
                                        <img src="/assets/img/icons/airlines_default.png" style="height:3em;">
                                        <div class="row">
                                            <p>${result.date}</p>
                                            <p>${result.time}</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h2>${result.flightDetails.flight_no}</h2>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span>
                                            <h6>${result.from.airport_name}</h6>
                                            <small>${result.from.airport_code}</small>
                                        </span>
                                    </div>
                                    <div class="col text-center">
                                        <i class="fa-solid fa-route"></i>
                                    </div>
                                    <div class="col">
                                        <h6>${result.to.airport_name}</h6>
                                        <small>${result.to.airport_code}</small>
                                    </div>
                                    <div class="col text-center">
                                        <a href="/booking/flight/${result.id}" class="btn btn-outline-primary">Select Flight</a>
                                    </div>
                                    <div class="col text-center">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    // Append flight card HTML to #flightCards container
                    $('#flightCards').append(flightCardHtml);
                });



                }, 1000);



            },
            error: function(xhr, status, error) {
                // Handle error response here
                $('#loadingMessage').text("No Flights available");
                console.error('Error:', error);
            }
        });
    });
});
</script>


</body>
</html>